@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,600&display=swap');

.headerBarContainer {
  background-color: #E0E0E0;
  padding: 5px;
  margin: 10px;
}

.headerBar {
  font-family: 'Nunito', sans-serif;
  font-weight: light;
  text-align: center;
}

.appContainer {
  height: 100vh;
}
.loadinMsg{

}